body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4070f4;
}

.thumb-image {
    width: 5rem;
}

.update-image {
    width: 120px;
}

.container {
    max-width: 430px;
    width: 100%;
    padding: 30px;
    background-color: #fff;
    border-radius: 6px;
}