/* Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.form {
    max-width: 430px;
    width: 100%;
    padding: 30px;
    background-color: #4070f4;
    border-radius: 6px;
}
header {
    text-align: center;
    font-size: 28px;
    columns: #232836;
    font-weight: 600;
    color: white;
}
.alert2 {
    margin-top: 10px;
    padding: 20px;
    background-color: rgb(0, 137, 73);
    color: white;
  }
  .alert {
    margin-top: 10px;
    padding: 20px;
    background-color: #f44336;
    color: white;
  }
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
form {
    margin-top: 30px;
}
.form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.field input,
.field button {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    font-weight: 400;
}
.field button {
    background-color: #0171d3;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.field button:hover {
    background-color: #016dcb;
}
.field input {
    outline: none;
    border: 1px solid #CACACA;
    padding: 0 15px;
}
.field input:focus {
    border-bottom-width: 2px;
}
.form-link {
    margin-top: 10px;
    text-align: center;
}
.form-link span,
.form-link a {
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}
.form a {
    text-decoration: none;
    color: #0171d3;
}
.form-content a:hover {
    text-decoration: underline;
}
.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}
.line {
    position: relative;
    margin: 36px 0;
    height: 1px;
    width: 100%;
    background-color: #d4d4d4;
}
.line::before {
    position: absolute;
    content: 'Or';
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #232836;
    padding: 0 15px;
}
.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}
a.facebook {
    background-color: #4267b2;
    color: #fff;
}
a.facebook .facebook-icon {
    background-color: #fff;
    color: #0171d3;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.facebook-icon,
img.google-img {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}
img.google-img {
    height: 20px;
    width: 20px;
    object-fit: cover;
}
a.google {
    border: 1px solid #CACACA;
}
a.google span {
    font-weight: 500;
    color:#232836;
    opacity: 0.6;
}


@media screen and (max-width:400px) {
    .form {
        padding: 15px 10px;
    }
}




