/* Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    background-color: #fefefe;
}
header {
    width: 100%;
    height: 80px;
    background-color: #11101b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
.logo {
    color: #fefefe;
    font-size: 28px;
    font-weight: bold;
}
.hamburger {
    display: none;
}
.nav-bar ul {
    display: flex;
}
.nav-bar ul li a {
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    margin: 0 5px;
    transition: 0.2s;
}
.nav-bar ul li a:hover {
    color: black;
    background-color: white;
}
.nav-bar ul li a.active {
    color: black;
    background-color: white;
}
@media only screen and (max-width: 1320px) {
    header {
        padding: 0 30px;
    }
}
@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}
@media only screen and (max-width: 1100px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .line {
        height: 3px;
        width: 30px;
        background-color: #fefefe;
        margin: 6px 0;
    }
    .nav-bar {
        position: absolute;
        left: 0;
        right: 0;
        top: 80px;
        background-color: #11101b;
        height: 0;
        width: 100vw;
        transition: 0.5s;
        overflow: hidden;
    }
    .nav-bar.active {
        height: 550px;
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul {
        opacity: 1;
    }
    .nav-bar ul li a {
        margin-bottom: 12px;
    }
}
