.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 20px;
    padding: 50px;
  }
  @media (max-width: 750px) {
   .grid {
      grid-template-columns: 1fr 1fr;
   } 
  }
  @media (max-wdth: 751px) and (min-width: 999px) {
    .grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media (min-width: 1000px) {
    .grid {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
.card{
    width: 100%;
    height: 250px;
    padding: 2rem 1rem;
    background:#fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out ;
}
.card:hover{
    transform: translateY(5px);
}
.card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(166, 166, 166, 0.5), rgb(0, 0, 0));
    z-index: 2;
    transition: all 0.5s;
    opacity: 0;
}
.card:hover:before{
    opacity: 1;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top:0;
    left: 0;
}
.card .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s;
}
.card:hover .info{
    opacity: 1;
    transform: translateY(0px);
}
.card .info h1{
    margin: 0;
}
.card .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top:8px;
    margin-bottom: 20px;
}
.card .info .btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background:#fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
